@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 36px;
    color: #fff;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
}

body {
    background: #1A374D;
}

.container {
    width: 90%;
    background: #1A374D;

    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}

.tarefas {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #406882;
    font-size: 26px;
    border-radius: 5px;
    margin: 0 0 40px 0;
}

.tarefas p {
    padding: 15px 0;
    width: 47%;
    color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.tarefas input {
    height: 40px;
    width: 400px;
    margin: 50px 0;
    text-align: center;
}

.tarefas input::placeholder {
    text-align: center;
    font-family: 'Lato', sans-serif;
}


.novasTarefas {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #1A374D;
    padding: 40px 0;
}

.input-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input-img img {
    cursor: pointer;
}

.btnPrintScreen {
    height: 40px;
    width: 200px;
    background-color: #406882;
    cursor: pointer;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    transition: 1s;
}

.btnPrintScreen:hover {
    background-color: #fff;
    color: #1A374D;
    transition: 1s;
}

@media (max-width: 1024px) {

    h1 {
        font-size: 30px;
    }

    .container {
        width: 100%;
    }

    .tarefas {
        width: 100%;
    }

    .tarefas input {
        width: 300px;
        margin: 20px 0 0;
    }

    .tarefas p {
        width: 70%;
        flex-wrap: wrap;
        font-size: 22px;
    }

    .input-img {
        flex-direction: column;
        justify-content: space-evenly;
        margin: 20px 0;
    }
}