@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    color: #fff;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
}

body {
    background: #1A374D;
}

.container {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}

.tarefas {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    background-color: #406882;
    font-size: 26px;
    border-radius: 5px;
}

.tarefas p {
    padding: 30px 0;
    width: 47%;
    color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.tarefas input {
    height: 40px;
    width: 400px;
    margin: 50px 0;
    text-align: center;
}

.tarefas input::placeholder {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.input-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input-img img {
    cursor: pointer;
}

@media (max-width: 1024px) {

    h1 {
        font-size: 30px;
    }

    .container {
        width: 100%;
    }


    .tarefas {
        width: 90%;
    }

    .tarefas input {
        width: 300px;
    }

    .tarefas p {
        width: 70%;
        flex-wrap: wrap;
        font-size: 26px;
    }
}